In [ ]:
#https://www.kaggle.com/datasets/suraj520/dairy-goods-sales-dataset


#from the dataset mentioned above, find the answers of these few questions 
#1. does number of cows in a farm has any dependency on area aquired. 
#2. what is the average expiry days of each product. 
#3. mention the name of the products with max and min shelf life
#4. summarize the data on the basis of brands and land acquired by them,cows and the revenue generated by them. 
#5. What is the average shelf life for different storage conditions.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dairy_dataset.csv")
df

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4320,Delhi,748.71,89,Medium,2022-02-24,6,Curd,Mother Dairy,554.90,88.45,...,2022-02-16,2022-02-21,352,87.20,30694.40,Uttar Pradesh,Online,202,98.07,33.53
4321,Jharkhand,385.91,29,Large,2022-05-14,4,Yogurt,Palle2patnam,818.33,55.35,...,2022-03-22,2022-04-14,68,58.39,3970.52,Kerala,Retail,750,87.41,114.37
4322,Chandigarh,311.54,65,Small,2020-01-05,6,Curd,Mother Dairy,583.56,92.61,...,2020-01-04,2020-01-11,141,89.46,12613.86,Haryana,Retail,442,33.47,153.66
4323,Maharashtra,890.55,90,Small,2022-10-25,6,Curd,Raj,3.10,15.30,...,2022-10-02,2022-10-09,2,10.56,21.12,Jharkhand,Wholesale,1,58.25,160.84
4324,Rajasthan,492.86,58,Large,2019-01-20,1,Milk,Mother Dairy,820.50,49.31,...,2019-01-06,2019-01-07,417,44.55,18577.35,Madhya Pradesh,Online,403,22.34,189.63

In [3]:
df = df.drop(["Farm Size","Product ID","Sales Channel","Reorder Quantity (liters/kg)"], axis = 1)
df

,Location,Total Land Area (acres),Number of Cows,Date,Product Name,Brand,Quantity (liters/kg),Price per Unit,Total Value,Shelf Life (days),Storage Condition,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg)
0,Telangana,310.84,96,2022-02-17,Ice Cream,Dodla Dairy,222.40,85.72,19064.1280,25,Frozen,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,215,19.55
1,Uttar Pradesh,19.19,44,2021-12-01,Milk,Amul,687.48,42.61,29293.5228,22,Tetra Pack,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,129,43.17
2,Tamil Nadu,581.69,24,2022-02-28,Yogurt,Dodla Dairy,503.48,36.50,18377.0200,30,Refrigerated,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,247,15.10
3,Telangana,908.00,89,2019-06-09,Cheese,Britannia Industries,823.36,26.52,21835.5072,72,Frozen,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,222,74.50
4,Maharashtra,861.95,21,2020-12-14,Buttermilk,Mother Dairy,147.77,83.85,12390.5145,11,Refrigerated,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,2,76.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4320,Delhi,748.71,89,2022-02-24,Curd,Mother Dairy,554.90,88.45,49080.9050,5,Refrigerated,2022-02-16,2022-02-21,352,87.20,30694.40,Uttar Pradesh,202,98.07
4321,Jharkhand,385.91,29,2022-05-14,Yogurt,Palle2patnam,818.33,55.35,45294.5655,23,Refrigerated,2022-03-22,2022-04-14,68,58.39,3970.52,Kerala,750,87.41
4322,Chandigarh,311.54,65,2020-01-05,Curd,Mother Dairy,583.56,92.61,54043.4916,7,Refrigerated,2020-01-04,2020-01-11,141,89.46,12613.86,Haryana,442,33.47
4323,Maharashtra,890.55,90,2022-10-25,Curd,Raj,3.10,15.30,47.4300,7,Refrigerated,2022-10-02,2022-10-09,2,10.56,21.12,Jharkhand,1,58.25
4324,Rajasthan,492.86,58,2019-01-20,Milk,Mother Dairy,820.50,49.31,40458.8550,1,Polythene Packet,2019-01-06,2019-01-07,417,44.55,18577.35,Madhya Pradesh,403,22.34

##1. does number of cows in a farm has any dependency on area aquired.

In [6]:
farm = df.groupby("Location").agg({"Total Land Area (acres)":"sum","Number of Cows":"sum" })
farm

                Total Land Area (acres)  Number of Cows
Location
Bihar                         123740.88           13214
Chandigarh                    262496.66           27875
Delhi                         267502.01           29060
Gujarat                       131749.37           14074
Haryana                       121921.57           13463
Jharkhand                     123127.74           13130
Karnataka                     129767.96           14515
Kerala                        128608.08           13792
Madhya Pradesh                135883.88           14643
Maharashtra                   124371.52           14491
Rajasthan                     124122.54           14556
Tamil Nadu                    120402.22           12862
Telangana                     122481.88           13905
Uttar Pradesh                 144035.27           15148
West Bengal                   117352.71           12990

In [23]:
xy = farm.corr()
xy

                         Total Land Area (acres)  Number of Cows
Total Land Area (acres)                 1.000000        0.995842
Number of Cows                          0.995842        1.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4325 entries, 0 to 4324
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Location                             4325 non-null   object
 1   Total Land Area (acres)              4325 non-null   float64
 2   Number of Cows                       4325 non-null   int64
 3   Farm Size                            4325 non-null   object
 4   Date                                 4325 non-null   object
 5   Product ID                           4325 non-null   int64
 6   Product Name                         4325 non-null   object
 7   Brand                                4325 non-null   object
 8   Quantity (liters/kg)                 4325 non-null   float64
 9   Price per Unit                       4325 non-null   float64
 10  Total Value                          4325 non-null   float64
 11  Shelf Life (days)                    4325 non-null   int64
 12  Storage Condition                    4325 non-null   object
 13  Production Date                      4325 non-null   object
 14  Expiration Date                      4325 non-null   object
 15  Quantity Sold (liters/kg)            4325 non-null   int64
 16  Price per Unit (sold)                4325 non-null   float64
 17  Approx. Total Revenue(INR)           4325 non-null   float64
 18  Customer Location                    4325 non-null   object
 19  Sales Channel                        4325 non-null   object
 20  Quantity in Stock (liters/kg)        4325 non-null   int64
 21  Minimum Stock Threshold (liters/kg)  4325 non-null   float64
 22  Reorder Quantity (liters/kg)         4325 non-null   float64
dtypes: float64(8), int64(5), object(10)
memory usage: 777.3+ KB

##2. what is the average expiry days of each product.

In [7]:
expiry_product = df.groupby("Product Name").agg({"Shelf Life (days)":"mean"})
expiry_product

              Shelf Life (days)
Product Name
Butter                32.932715
Buttermilk            10.572414
Cheese                57.324190
Curd                   6.025052
Ghee                 105.741294
Ice Cream             25.458629
Lassi                 14.847875
Milk                  12.923077
Paneer                10.662132
Yogurt                25.517162

##3. mention the name of the products with max and min shelf life

In [47]:

product_max = df["Shelf Life (days)"].idxmax()
product_max

875

In [53]:
b = df.loc[product_max]
b["Product Name"]

'Ghee'

In [50]:
a = df.loc[product_min]
a

Location                                         Kerala
Total Land Area (acres)                           14.97
Number of Cows                                       71
Farm Size                                         Small
Date                                         2020-02-22
Product ID                                            1
Product Name                                       Milk
Brand                                      Mother Dairy
Quantity (liters/kg)                             821.52
Price per Unit                                    11.58
Total Value                                   9513.2016
Shelf Life (days)                                     1
Storage Condition                      Polythene Packet
Production Date                              2020-01-31
Expiration Date                              2020-02-01
Quantity Sold (liters/kg)                           778
Price per Unit (sold)                              8.69
Approx. Total Revenue(INR)                      6760.82
Customer Location                               Gujarat
Sales Channel                                    Retail
Quantity in Stock (liters/kg)                        43
Minimum Stock Threshold (liters/kg)               89.45
Reorder Quantity (liters/kg)                      28.11
Name: 15, dtype: object

In [12]:
product_min = df["Shelf Life (days)"].idxmin()
product_min

15

In [13]:
b = df.loc[product_min]
b["Product Name"]

'Milk'

##4. summarize the data on the basis of brands and land acquired by them,cows and the revenue generated by them.

In [14]:


summarize  =  df.groupby("Brand").agg({"Approx. Total Revenue(INR)":"sum" , "Total Land Area (acres)":"sum" , "Number of Cows":"sum"})
summarize

,Approx. Total Revenue(INR),Total Land Area (acres),Number of Cows
Brand,,,
Amul,14608864.46,528377.46,56873
Britannia Industries,1029522.05,51221.94,4968
Dodla Dairy,2604857.37,111974.65,12354
Dynamix Dairies,1479884.78,55356.87,5637
Mother Dairy,13766786.47,497118.15,56517
Palle2patnam,2528989.12,106237.70,11705
Parag Milk Foods,1516697.71,53690.47,5204
Passion Cheese,1498653.15,50724.93,5353
Raj,9560777.64,346073.91,36957
Sudha,8370109.56,328411.07,36467
Warana,1769505.55,48377.14,5683

##5. What is the average shelf life for different storage conditions.

In [57]:


Storage = df.groupby("Storage Condition").agg({"Shelf Life (days)":"mean" })
Storage

                   Shelf Life (days)
Storage Condition
Ambient                   105.741294
Frozen                     32.508213
Polythene Packet            1.471111
Refrigerated               18.006913
Tetra Pack                 25.553922